<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/stylesheet.css" th:href="@{/stylesheet.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Footer</title>
</head>
	<body>
		
		<footer th:fragment="footer">
	      <div class="container-fluid">
	        <div class="container text-md-left text-center col-12 col-md-12 col-lg-8 p-0">
	  ​
	          <!-- Grid row -->
	          <div class="row">
	            <!-- columna titulo -->
	            <div class="col-12 col-md-6 col-lg-6 mx-auto">
	              <h5 class="titulo mt-3 mb-4 text-center">HOY SE SALE!</h5>
	              <p class="text-center">
	                <ion-icon name="pin"></ion-icon>
	                Av. Arístides Villanueva 711, Mendoza, Argentina.
	              </p>
	            </div>
	  ​
	            <!-- Links -->
	            <div class="col-12 col-md-6 col-lg-6 mx-auto text-center">
	              <ul class="list-unstyled m-4">
	                <li>
	                  <a href="#" data-toggle="modal" data-target="#contacto">CONTACTO</a>
	                </li>
	                <li>
	                  <a href="preg_frecuentes.html">PREGUNTAS FRECUENTES</a>
	                </li>
	                <li>
	                  <a href="#about-us">SOBRE NOSOTROS</a>
	                </li>
	              </ul>
	            </div>
	          </div>
	
	        </div>
	  ​
	        <!-- Redes Sociales Iconos -->
	        <p class="social-networks text-center">
	          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
	          <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
	          <a href="#"><ion-icon name="logo-twitter" ></ion-icon></a>
	          <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
	        </p>
	  ​
	        <!-- Copyright -->
	        <div class="copyright text-center p-3 col-12">© 2019 Copyright:
	          <a href="#">HOY SE SALE!</a>
	        </div>
	
	      </div>

    </footer>
	
	</body>
</html>
