<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/static/stylesheet.css" th:href="@{/stylesheet.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Header</title>
</head>
	<body>
		
	    <header th:fragment="header" class="common-header">
	      <nav class="navbar navbar-expand-lg ">
	        <ion-icon name="beer" size="large" style="color:white;"></ion-icon>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	          <ion-icon name="funnel" size="large" style="color:white"></ion-icon>
	        </button>
	
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	          <ul class="navbar-nav mr-auto">
	            <li class="nav-item">
	              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                PRODUCTOS
	              </a>
	              <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
	                <a class="dropdown-item" href="products">Bebidas</a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                CONTACTO
	              </a>
	              <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
	                <a class="dropdown-item" href="preg_frecuentes">Preguntas Frecuentes</a>
	                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contacto">Contactános</a>
	            </li>
	          </ul>
	        </div>
	
	        <div class="navbar-collapse navbar-user">
	          <ul class="navbar-nav ml-auto">
	            <!--
	            <li class="nav-item">
	              <a class="nav-link bubble" href="#" data-toggle="modal" data-target="#loginyrg">
	                <ion-icon name="person" size="large"></ion-icon>
	              </a>
	            </li>
	              
	            <li class="nav-item">
	              <a class="nav-link bubble" href="#" data-pushbar-target="pushbar-carrito">
	                <ion-icon name="cart" size="large"></ion-icon>
	              </a>
	              <p class="item-count bubble">0</p>
	            </li>
	            -->
	            
	          </ul>
	        </div>
	
	      </nav>
	
	    </header>
	
	</body>
</html>
