<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/stylesheet.css">

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--GOOGLE FONTS AND ICONS-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <!--APP JAVASCRIPT-->
    <script type="text/javascript" src="../static/js/app.js"></script>

  </head>
  <body>
    <div class="container-fluid">

      <!--HEADER-->
      <header th:replace="common/header::header">

      </header>

      <div class="container-fluid welcome-productos">
        <h1 class="display-5 text-center">BEBIDAS</h1>
      </div>

      <div class="container-fluid">

        <!--PRODUCTOS-->
        <div class="d-flex row justify-content-around">
          <div class="filters list-group container-fluid categorias col-10 col-md-10 col-lg-2 d-flex">
            <h3 style="color:white;">Categorías</h3>
            <div class="filtros-lista">
              <a class="list-group-item list-group-item-action active" data-filter="*" id="Todos">Todos</a>
              <a th:each="" class="list-group-item list-group-item-action active" data-filter="*" id="Todos">Todos</a>
            </div>
            <input type="text" id="search" placeholder="Búsqueda" style="width:100%; padding-left: 20px;" value="">
          </div>

          <div class="section-products col-12 col-md-12 col-lg-9">
            <div class="container-fluid products-list grid" id="grid">
            
            	<div th:each="" class="card" style="width: 18rem;">
			      <img src="" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title"></h5>
			        <p class="card-text"></p>
			        <p class="card-price"></p>
			        <a class="btn btn-primary agregar-quitar agregar">Agregar al carro</a>
			      </div>
			    </div>

            </div>
          </div>
        </div>

        <!--FOOTER-->
        <footer th:replace="common/footer::footer">
        
        </footer>
        
      </div>

    </div>

    <!--SCRIPTS-->
    <script type="text/javascript" src="../static/js/productos.js"></script>

  </body>
</html>
